<!DOCTYPE html>
<html lang="en">
<head>
    <a href="https://github.com/imfht/super-Django-CC"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                            src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"
                                                            alt="Fork me on GitHub"></a>
    <style>.center {
        width: auto;
        display: table;
        margin-left: auto;
        margin-right: auto
    }

    label {
        width: 200px;
        float: right;
    }
    </style>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/bootswatch/4.1.1/yeti/bootstrap.min.css" rel="stylesheet">
    <title>Hi, Hacker.</title></head>
<body>

<div class="jumbotron">
    <h1 class="display-3">Search URL&Subdomains Online</h1>
    <form class="form-group form-inline" action="/url_search" method="get">
        <div class="form-group"><label for="domain" class="pull-right"><h3>URL Search: </h3></label></div>
        <input class="form-control mr-sm-2" type="text"
               placeholder="input domain."
               name="domain">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <form class="form-group form-inline" action="/domain_search" method="get">
        <div class="form-group"><label for="domain" class="pull-right"><h3>Domain Search: </h3></label></div>
        <input class="form-control mr-sm-2"
               type="text"
               placeholder="input domain"
               name="domain">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
</body>
</html>